<div class="container">
  <h1 class="page-header">Reminders</h1>

    <ul class="list-group">
      <li class="list-group-item">
        <h3><strong>Task Name:</strong></h3>
        <h3><strong><%= reminderItem.title %> </strong></h3>
        <br>
        <h5><strong>Reminder Date:</strong></h5>
        <h5><strong><%= reminderItem.date %> </strong></h5>
        <br>
        <h4><%= reminderItem.description %></h4>
        <br>
        <h6><strong>Subtasks:</strong></h6>
        <ul class="list-group">
        <% reminderItem.subtasks.forEach(function(item) { %>
          <% console.log(item) %>
          <% if (item != "") { %>
          <li><%= item %></li>
          <% } %>
      <%}); %>
      </ul>
      <h6><strong>Tags:</strong></h6>
      <% reminderItem.tags.forEach(function(item) { %>
        <% if (item != '' && item != undefined) { %>
        <button type="button" class="btn btn-primary" style="border:double"><%= item %></button>
        <% } %>
    <%}); %>
        <h4>Completed:
          <% if (reminderItem.completed == true) { %>
            <span class="label label-success">Yes ✅</span>
          <% } else if (reminderItem.completed == false) { %>
            <span class="label label-danger">No ❌</span>
          <% } %>
        </h4>

        <a class="btn btn-warning" href=<%= "/reminder/" + reminderItem.id + "/edit" %>>Edit</a>

        <form class="deleteForm "method="POST" action=<%= "/reminder/delete/" + reminderItem.id %>>
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>

      </li>
    </ul>

</div>