<div class="container">
  <h1 class="page-header">Reminders</h1>
    <ul class="list-group">
      <li class="list-group-item" style="border-radius: 14pt;">
        <h3><strong><%= reminderItem.title %> </strong></h3>
        <br>
        <h5><strong>Date:</strong></h5>
        <h5><strong><%= reminderItem.date %> </strong></h5>
        <br>
        <h4><%= reminderItem.description %></h4>
        <br>
        <h6><strong>Subtasks:</strong></h6>
        <!-- This DIV is a container for all subtasks of a reminder (if any) -->
        <div class="container">
          <ul class="list-group">
            <% reminderItem.subtasks.forEach(function(item) { %>
              <% console.log(item) %>
              <% if (item != "") { %>
                <li><%= item %></li>
              <% } %>
            <%}); %>
          </ul>
        </div>
        <br>

        <h6><strong>Tags:</strong></h6>
          <!-- Display each tag as a clickable button (currently nothing happens on click -->
          <% reminderItem.tags.forEach(function(item) { %>
            <% if (item != '' && item != undefined) { %>
            <button type="button" class="btn btn-sm btn-info" aria-label="Close">
              <%= item %>
              <span aria-hidden="true">&times;</span>
            </button>
            <% } %>
          <%}); %>
        <br>
        <br>
        <!-- If the reminder is checked as being completed, displayed "Yes ✅", if not, display "No ❌" -->
        <h4>Completed:
          <% if (reminderItem.completed == true) { %>
            <span class="label label-success">Yes ✅</span>
          <% } else if (reminderItem.completed == false) { %>
            <span class="label label-danger">No ❌</span>
          <% } %>
        </h4>
        <!-- Edit Button -->
        <a class="btn btn-warning" href=<%= "/reminder/" + reminderItem.id + "/edit" %>>Edit</a>
        <form class="deleteForm "method="POST" action=<%= "/reminder/delete/" + reminderItem.id %>>
          <!-- Delete Button -->
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </li>
    </ul>
</div>

<script>
  function tagClick(){
    axios.get('/tagClick' + reminderTagId + reminderItem.id)
    document.getElementById(reminderTagId).remove()
  }
</script>